body {
  background-image: radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% );
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.cube {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transition: transform 300ms ease-out;
}

.cube .cubie-container {
  position: absolute;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transition: transform 300ms ease-out;
}

.cube .cubie-container .cubie {
  transform-style: preserve-3d;
}

.cube .cubie .face {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: black;
}

.cube .cubie .face.up {
  transform: translateY(-25px) rotateX(90deg);
}

.cube .cubie .face.down {
  transform: translateY(25px) rotateX(-90deg);
}

.cube .cubie .face.right {
  transform: translateX(25px) rotateY(90deg);
}

.cube .cubie .face.left {
  transform: translateX(-25px) rotateY(-90deg);
}

.cube .cubie .face.front {
  transform: translateZ(25px);
}

.cube .cubie .face.back {
  transform: translateZ(-25px);
}

.cube .cubie .face .sticker {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
}

.cube .cubie .face.up .sticker {
  background-color: #ffd500;
}

.cube .cubie .face.down .sticker {
  background-color: white;
}

.cube .cubie .face.right .sticker {
  background-color: #b71234;
}

.cube .cubie .face.left .sticker {
  background-color: #ff5800;
}

.cube .cubie .face.front .sticker {
  background-color: #0046ad;
}

.cube .cubie .face.back .sticker {
  background-color: #009b48;
}
