body {
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-image: radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% );
  min-height: 100vh;
  text-align: center;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

form.playground {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

form.playground .label {
  display: flex;
  justify-content: center;
  align-items: center;
}

form.playground .label + .label {
  margin-top: .25em;
}

form.playground .label span {
  flex: 1;
  text-align: right;
  margin-right: .5em;
}

form.playground .label span.checkboxes-span {
  align-self: flex-start;
  margin-right: 0;
  padding-right: 0.5em;
}

form.playground .label input {
  flex: 1;
}

form.playground .label .checkboxes-wrapper {
  flex: 1;
  text-align: left;
}

iframe {
  display: block;
  margin: 0 auto;
}

.iframe-html-container {
  font-family: monospace;
  overflow-x: scroll;
  width: 90%;
  margin: 0 auto;
}
