*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.cube-container {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
}

.controls {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cube-container:hover .controls {
  /* TODO move to js... */
  display: flex;
}

.controls button + button {
  margin-left: .25em;
}

.controls button {
  font-size: 0.65rem;
  padding: .125em .25em;
  border: 0;
  background: none;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, .75);
  opacity: .85;
}

.controls button.reset,
.controls button.finish {
  display: none;
}

@media (min-width: 180px) {
  .controls button.reset,
  .controls button.finish {
    display: inline;
  }
}

@media (min-width: 200px) {
  .controls button {
    font-size: 0.85rem;
  }
}

@media (min-width: 240px) {
  .controls button {
    font-size: 1.2rem;
  }
}

@media (min-width: 360px) {
  .controls button {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .controls button {
    font-size: 2rem;
  }
}
