*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cube-container {
  width: 100%;
  overflow: hidden;
}

.controls button {
  padding: .125rem .5rem;
}
