:root {
  --cubie-size: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.cube-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.cube-container .cube-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--cubie-size) * 5.2);
  /* animation: showCube 10s linear infinite; */
  transform: perspective(calc(var(--cubie-size) * 12)) rotateX(-25deg) rotateY(-35deg);
  transform-style: preserve-3d;
}

/*
@keyframes showCube {
  from {
    transform: perspective(calc(var(--cubie-size) * 12)) rotateX(-25deg) rotateY( -35deg);
  }
  50% {
    transform: perspective(calc(var(--cubie-size) * 12)) rotateX( 25deg) rotateY(-215deg);
  }
  to {
    transform: perspective(calc(var(--cubie-size) * 12)) rotateX(-25deg) rotateY(-395deg);
  }
}
*/

.cube-container .cube {
  position: relative;
  width: calc(var(--cubie-size) * 3);
  height: calc(var(--cubie-size) * 3);
}

.cube-container .cubie-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
}

.cube-container .cube.animate .cubie-container {
  transition: transform 350ms ease-out 150ms;
}

.cube-container .cubie {
  transform-style: preserve-3d;
}

.cube-container .cubie-container.ubl .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.ub .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.ubr .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.ul .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.u .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.ur .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.ufl .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .cubie-container.uf .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .cubie-container.ufr .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 0)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .cubie-container.bl .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.b .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.br .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.l .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.core .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.r .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.fl .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .cubie-container.f .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .cubie-container.fr .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 1)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .cubie-container.dbl .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.db .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.dbr .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) * -1));
}

.cube-container .cubie-container.dl .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.d .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.dr .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) *  0));
}

.cube-container .cubie-container.dfl .cubie {
  transform: translateX(calc(var(--cubie-size) * 0)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .cubie-container.df .cubie {
  transform: translateX(calc(var(--cubie-size) * 1)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .cubie-container.dfr .cubie {
  transform: translateX(calc(var(--cubie-size) * 2)) translateY(calc(var(--cubie-size) * 2)) translateZ(calc(var(--cubie-size) *  1));
}

.cube-container .face {
  position: absolute;
  width: var(--cubie-size);
  height: var(--cubie-size);
  padding: 1.2%;
  background: black;
}

.cube-container .face.up {
  transform: translateY(calc(var(--cubie-size) * -0.5)) rotateX(90deg);
}

.cube-container .face.right {
  transform: translateX(calc(var(--cubie-size) * 0.5)) rotateY(90deg);
}

.cube-container .face.front {
  transform: translateZ(calc(var(--cubie-size) * 0.5));
}

.cube-container .face.down {
  transform: translateY(calc(var(--cubie-size) * 0.5)) rotateX(-90deg);
}

.cube-container .face.left {
  transform: translateX(calc(var(--cubie-size) * -0.5)) rotateY(-90deg);
}

.cube-container .face.back {
  transform: translateZ(calc(var(--cubie-size) * -0.5));
}

.cube-container .sticker {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.cube-container .face.up .sticker {
  background-color: #ffd500;
}

.cube-container .face.right .sticker {
  background-color: #b71234;
}

.cube-container .face.front .sticker {
  background-color: #0046ad;
}

.cube-container .face.down .sticker {
  background-color: #ffffff;
}

.cube-container .face.left .sticker {
  background-color: #ff5800;
}

.cube-container .face.back .sticker {
  background-color: #009b48;
}

.cube-container .cube.turn-u .cubie-container.uslice {
  transform: rotateY(-90deg);
}
.cube-container .cube.turn-ui .cubie-container.uslice {
  transform: rotateY(90deg);
}
.cube-container .cube.turn-u2 .cubie-container.uslice {
  transform: rotateY(-180deg);
}
.cube-container .cube.turn-u2i .cubie-container.uslice {
  transform: rotateY(180deg);
}

.cube-container .cube.turn-d .cubie-container.dslice {
  transform: rotateY(90deg);
}
.cube-container .cube.turn-di .cubie-container.dslice {
  transform: rotateY(-90deg);
}
.cube-container .cube.turn-d2 .cubie-container.dslice {
  transform: rotateY(180deg);
}
.cube-container .cube.turn-d2i .cubie-container.dslice {
  transform: rotateY(-180deg);
}

.cube-container .cube.turn-e .cubie-container.eslice {
  transform: rotateY(90deg);
}
.cube-container .cube.turn-ei .cubie-container.eslice {
  transform: rotateY(-90deg);
}
.cube-container .cube.turn-e2 .cubie-container.eslice {
  transform: rotateY(180deg);
}
.cube-container .cube.turn-e2i .cubie-container.eslice {
  transform: rotateY(-180deg);
}

.cube-container .cube.turn-m .cubie-container.mslice {
  transform: rotateX(-90deg);
}
.cube-container .cube.turn-mi .cubie-container.mslice {
  transform: rotateX(90deg);
}
.cube-container .cube.turn-m2 .cubie-container.mslice {
  transform: rotateX(-180deg);
}
.cube-container .cube.turn-m2i .cubie-container.mslice {
  transform: rotateX(180deg);
}

.cube-container .cube.turn-s .cubie-container.sslice {
  transform: rotateZ(90deg);
}
.cube-container .cube.turn-si .cubie-container.sslice {
  transform: rotateZ(180deg);
}
.cube-container .cube.turn-s2 .cubie-container.sslice {
  transform: rotateZ(-90deg);
}
.cube-container .cube.turn-s2i .cubie-container.sslice {
  transform: rotateZ(-180deg);
}
