body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 300ms ease-out;
}

.cube .cubie-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 300ms ease-out;
}

.cube .cubie-container .cubie {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
}

.cube .cubie-container:nth-child(1) .cubie {
  transform: translate3d(0px, 0px, 0px);
}

.cube .cubie-container:nth-child(2) .cubie {
  transform: translate3d(0px, 100px, 0px);
}

.cube .cubie-container:nth-child(3) .cubie {
  transform: translate3d(0px, 200px, 0px);
}

.cube .cubie-container:nth-child(4) .cubie {
  transform: translate3d(100px, 0px, 0px);
}

.cube .cubie-container:nth-child(5) .cubie {
  transform: translate3d(100px, 100px, 0px);
}

.cube .cubie-container:nth-child(6) .cubie {
  transform: translate3d(100px, 200px, 0px);
}

.cube .cubie-container:nth-child(7) .cubie {
  transform: translate3d(200px, 0px, 0px);
}

.cube .cubie-container:nth-child(8) .cubie {
  transform: translate3d(200px, 100px, 0px);
}

.cube .cubie-container:nth-child(9) .cubie {
  transform: translate3d(200px, 200px, 0px);
}

.cube .cubie-container:nth-child(10) .cubie {
  transform: translate3d(0px, 0px, 100px);
}

.cube .cubie-container:nth-child(11) .cubie {
  transform: translate3d(0px, 100px, 100px);
}

.cube .cubie-container:nth-child(12) .cubie {
  transform: translate3d(0px, 200px, 100px);
}

.cube .cubie-container:nth-child(13) .cubie {
  transform: translate3d(100px, 0px, 100px);
}

.cube .cubie-container:nth-child(14) .cubie {
  transform: translate3d(100px, 100px, 100px);
}

.cube .cubie-container:nth-child(15) .cubie {
  transform: translate3d(100px, 200px, 100px);
}

.cube .cubie-container:nth-child(16) .cubie {
  transform: translate3d(200px, 0px, 100px);
}

.cube .cubie-container:nth-child(17) .cubie {
  transform: translate3d(200px, 100px, 100px);
}

.cube .cubie-container:nth-child(18) .cubie {
  transform: translate3d(200px, 200px, 100px);
}

.cube .cubie-container:nth-child(19) .cubie {
  transform: translate3d(0px, 0px, -100px);
}

.cube .cubie-container:nth-child(20) .cubie {
  transform: translate3d(0px, 100px, -100px);
}

.cube .cubie-container:nth-child(21) .cubie {
  transform: translate3d(0px, 200px, -100px);
}

.cube .cubie-container:nth-child(22) .cubie {
  transform: translate3d(100px, 0px, -100px);
}

.cube .cubie-container:nth-child(23) .cubie {
  transform: translate3d(100px, 100px, -100px);
}

.cube .cubie-container:nth-child(24) .cubie {
  transform: translate3d(100px, 200px, -100px);
}

.cube .cubie-container:nth-child(25) .cubie {
  transform: translate3d(200px, 0px, -100px);
}

.cube .cubie-container:nth-child(26) .cubie {
  transform: translate3d(200px, 100px, -100px);
}

.cube .cubie-container:nth-child(27) .cubie {
  transform: translate3d(200px, 200px, -100px);
}

.cube .cubie-container:nth-child(10) {
  transform: rotateZ(30deg);
}

.cube .cubie-container:nth-child(11) {
  transform: rotateZ(30deg);
}

.cube .cubie-container:nth-child(12) {
  transform: rotateZ(30deg);
}

.cube .cubie-container:nth-child(13) {
  transform: rotateZ(30deg);
}

.cube .cubie-container:nth-child(14) {
  transform: rotateZ(30deg);
}

.cube .cubie-container:nth-child(15) {
  transform: rotateZ(30deg);
}

.cube .cubie-container:nth-child(16) {
  transform: rotateZ(30deg);
}

.cube .cubie-container:nth-child(17) {
  transform: rotateZ(30deg);
}

.cube .cubie-container:nth-child(18) {
  transform: rotateZ(30deg);
}

.cube .cubie .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: black;
}

.cube .cubie .face.up {
  transform: translateY(-50px) rotateX(90deg);
}

.cube .cubie .face.down {
  transform: translateY(50px) rotateX(-90deg);
}

.cube .cubie .face.right {
  transform: translateX(50px) rotateY(90deg);
}

.cube .cubie .face.left {
  transform: translateX(-50px) rotateY(-90deg);
}

.cube .cubie .face.front {
  transform: translateZ(50px);
}

.cube .cubie .face.back {
  transform: translateZ(-50px);
}

.cube .cubie .face .sticker {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
}

.cube .cubie .face.up .sticker {
  background-color: yellow;
}

.cube .cubie .face.down .sticker {
  background-color: white;
}

.cube .cubie .face.right .sticker {
  background-color: red;
}

.cube .cubie .face.left .sticker {
  background-color: orange;
}

.cube .cubie .face.front .sticker {
  background-color: blue;
}

.cube .cubie .face.back .sticker {
  background-color: green;
}
